<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.farmlands.mapper.FarmlandMapper">

    <resultMap type="Farmland" id="FarmlandResult">
        <result property="id"    column="id"    />
        <result property="farmlandId"    column="farmland_id"    />
        <result property="farmlandName"    column="farmland_name"    />
        <result property="area"    column="area"    />
        <result property="lat"    column="lat"    />
        <result property="lon"    column="lon"    />
        <result property="location"    column="location"    />
        <result property="status"    column="status"    />
        <result property="leasePrice"    column="lease_price"    />
        <result property="description"    column="description"    />
        <result property="fileIds"    column="file_ids"    />
        <result property="createByName"    column="create_by_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />

        <collection  property="landServices"   javaType="java.util.List"  resultMap="LandServiceResult" />
        <collection  property="landAreas"   javaType="java.util.List"  resultMap="LandAreaResult" />
        <collection  property="seeds"   javaType="java.util.List"  resultMap="SeedResult" />
    </resultMap>

    <resultMap type="LandService" id="LandServiceResult">

        <result property="serviceId"    column="service_id"    />
        <result property="serviceName"    column="service_name"    />
        <result property="servicePrice"    column="service_price"    />
        <result property="serviceType"    column="service_type"    />
        <result property="summary"    column="summary"    />
        <result property="createByName"    column="create_by_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="isDeleted"    column="is_deleted"    />
    </resultMap>

    <resultMap type="LandArea" id="LandAreaResult">

        <result property="landAreaId"    column="land_area_id"    />
        <result property="landAreaName"    column="land_area_name"    />
        <result property="area"    column="land_area"    />
        <result property="unitPrice"    column="unit_price"    />
        <result property="lesseeStatus"    column="lessee_status"    />
        <result property="sort"    column="sort"    />
        <result property="remark"    column="remark"    />

    </resultMap>

    <resultMap type="Seed" id="SeedResult">

        <result property="seedId"    column="seed_id"    />
        <result property="seedName"    column="seed_name"    />
        <result property="seedType"    column="seed_type"    />
        <result property="origin"    column="origin"    />
        <result property="growthCycle"    column="growth_cycle"    />
        <result property="yield"    column="yield"    />
        <result property="climate"    column="climate"    />
        <result property="plantingTechnique"    column="planting_technique"    />
        <result property="remarks"    column="remarks"    />
        <result property="unitPrice"    column="seed_unit_price"    />
        <result property="stockTotal"    column="stock_total"    />
        <result property="status"    column="seed_status"    />

    </resultMap>


    <sql id="selectFarmlandVo">
        select id, farmland_id,farmland_name, area, lat, lon, location, status, lease_price, description, file_ids, create_by_name, create_by, create_time, update_time, is_deleted from t_farmland
    </sql>


    <select id="selectFarmlandAllById" parameterType="Farmland" resultMap="FarmlandResult">
        SELECT
            f.id, f.farmland_id,f.farmland_name, f.area, f.lat, f.lon, f.location, f.status, f.lease_price, f.description, f.file_ids, f.create_by_name, f.create_by, f.create_time, f.update_time, f.is_deleted,
            ls.service_id, ls.service_name, ls.service_price, ls.service_type, ls.summary,
            la.land_area_id, la.land_area_name, la.area land_area, la.unit_price, la.sort, la.remark,la.lessee_status,
            sd.seed_id, sd.seed_name, sd.seed_type, sd.origin, sd.growth_cycle, sd.yield, sd.climate, sd.planting_technique, sd.remarks, sd.unit_price seed_unit_price, sd.stock_total, sd.status seed_status
        FROM
            t_farmland f
                LEFT JOIN t_farmland_area fa ON fa.farmland_id = f.farmland_id
                LEFT JOIN t_land_area la ON la.land_area_id = fa.land_area_id

                LEFT JOIN t_farmland_service fs ON fs.farmland_id = f.farmland_id
                LEFT JOIN t_land_service ls ON ls.service_id = fs.service_id

                LEFT JOIN t_farmland_seed fsd ON fsd.farmland_id = f.farmland_id
                LEFT JOIN t_seed sd ON sd.seed_id = fsd.seed_id
        where f.id = #{id}
    </select>



    <select id="selectFarmlandList" parameterType="Farmland" resultMap="FarmlandResult">
        <include refid="selectFarmlandVo"/>
        <where>
            <if test="farmlandId != null  and farmlandId != ''"> and farmland_id = #{farmlandId}</if>
            <if test="farmlandName != null  and farmlandName != ''"> and farmland_name = #{farmlandName}</if>
            <if test="area != null  and area != ''"> and area = #{area}</if>
            <if test="lat != null  and lat != ''"> and lat = #{lat}</if>
            <if test="lon != null  and lon != ''"> and lon = #{lon}</if>
            <if test="location != null  and location != ''"> and location = #{location}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
            <if test="leasePrice != null "> and lease_price = #{leasePrice}</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="fileIds != null  and fileIds != ''"> and file_ids = #{fileIds}</if>
            <if test="createByName != null  and createByName != ''"> and create_by_name like concat('%', #{createByName}, '%')</if>
            <if test="isDeleted != null  and isDeleted != ''"> and is_deleted = #{isDeleted}</if>
        </where>
    </select>

    <select id="selectFarmlandById" parameterType="String" resultMap="FarmlandResult">
        <include refid="selectFarmlandVo"/>
        where id = #{id}
    </select>

    <insert id="insertFarmland" parameterType="Farmland">
        insert into t_farmland
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="farmlandId != null">farmland_id,</if>
            <if test="farmlandName != null">farmland_name,</if>
            <if test="area != null">area,</if>
            <if test="lat != null">lat,</if>
            <if test="lon != null">lon,</if>
            <if test="location != null">location,</if>
            <if test="status != null">status,</if>
            <if test="leasePrice != null">lease_price,</if>
            <if test="description != null">description,</if>
            <if test="fileIds != null">file_ids,</if>
            <if test="createByName != null">create_by_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="isDeleted != null and isDeleted != ''">is_deleted,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="farmlandId != null">#{farmlandId},</if>
            <if test="farmlandName != null">#{farmlandName},</if>
            <if test="area != null">#{area},</if>
            <if test="lat != null">#{lat},</if>
            <if test="lon != null">#{lon},</if>
            <if test="location != null">#{location},</if>
            <if test="status != null">#{status},</if>
            <if test="leasePrice != null">#{leasePrice},</if>
            <if test="description != null">#{description},</if>
            <if test="fileIds != null">#{fileIds},</if>
            <if test="createByName != null">#{createByName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="isDeleted != null and isDeleted != ''">#{isDeleted},</if>
         </trim>
    </insert>

    <update id="updateFarmland" parameterType="Farmland">
        update t_farmland
        <trim prefix="SET" suffixOverrides=",">
            <if test="farmlandId != null">farmland_id = #{farmlandId},</if>
            <if test="farmlandName != null">farmland_name,</if>
            <if test="area != null">area = #{area},</if>
            <if test="lat != null">lat = #{lat},</if>
            <if test="lon != null">lon = #{lon},</if>
            <if test="location != null">location = #{location},</if>
            <if test="status != null">status = #{status},</if>
            <if test="leasePrice != null">lease_price = #{leasePrice},</if>
            <if test="description != null">description = #{description},</if>
            <if test="fileIds != null">file_ids = #{fileIds},</if>
            <if test="createByName != null">create_by_name = #{createByName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="isDeleted != null and isDeleted != ''">is_deleted = #{isDeleted},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFarmlandById" parameterType="String">
        delete from t_farmland where id = #{id}
    </delete>

    <delete id="deleteFarmlandByIds" parameterType="String">
        delete from t_farmland where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
