<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.neo.farmlands.mapper.FarmlandLesseeSeedMapper">

    <resultMap id="BaseResultMap" type="com.neo.farmlands.domain.entity.FarmlandLesseeSeed">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="farmlandLesseeId" column="farmland_lessee_id" jdbcType="VARCHAR"/>
            <result property="seedId" column="seed_id" jdbcType="VARCHAR"/>
            <result property="createByName" column="create_by_name" jdbcType="VARCHAR"/>
            <result property="createBy" column="create_by" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,farmland_lessee_id,seed_id,
        create_by_name,create_by,create_time,
        update_time,is_deleted
    </sql>
    <select id="getSeedListByFarmlandLesseeId" resultType="com.neo.farmlands.domain.entity.Seed">
        select s.* from t_farmland_lessee_seed fls
        left join t_seed s on fls.seed_id = s.seed_id
        where fls.farmland_lessee_id = #{farmlandLesseeId} and fls.is_deleted = 0 and s.is_deleted = 0
    </select>
</mapper>
